/*common start*/
body{
	margin: 0;
	padding: 0;
}
/*common end*/
/*header start*/
header{
	border: 1px solid red;
	padding: 20px 0;

}
.container {
	margin: 0 auto;
	width: 80%;
	overflow: hidden;
}
.logo{
	width: 17%;
	float: left;
}
.logo a{
	display: block;
}
.logo a img{
	width: 100%
}
.menu{
	margin-top: 8px;
	width: 77%;
	float: right;
	
}
.menu ul{
	float: right;
}
.menu ul li{
	float: left;
	list-style: none;
}
.menu ul li a{
	font-family: sans-serif;
	font size: 16px;
	font-weight: 400;
	color: #131313;
	text-decoration: none;
	display: block;
	padding: 0px 15px;
}
.menu ul li a:hover{
	color: #bd2122;
}
.menu ul li:last-child a{
	padding-right: 0
}



/*header end*/